.location-grid {
    height: 1000px;
    width: 100vw;
}

#locationInput {
    width: 300px;
}

#location-form {
    display: flex;
    justify-content: center;
}

#searchFormElement {
    margin: 10px;
}

.csv-logo {
    width: 20px;
    height: 20px;
}

.pdf-logo {
    width: 20px;
    height: 20px;
}