@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  outline: 0;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.ag-theme-alpine {
  --ag-font-family: 'Poppins', sans-serif;
  --ag-font-size: 10px;
}