.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  outline: 0;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}